<h2><%= @profile.name %></h2>
<h5><strong>Bio:</strong> <%= @profile.description %> </h5>

<% if current_user != @profile.user %>
	<% if !current_user.followees.to_a.include?(@profile.user)  %>
        <% @user = current_user %>
        <% @fu = "f" %>
        <%= render "follows/follow" %>
     <% else %>
        <% @user = current_user %>
        <% @fu = "u" %>
        <%= render "follows/follow" %>
       <%# link_to "unfollow", profile_follow_path(@profile, Follow.where(followee_id: current_user.id, follower_id: @profile.user.id).first), method: :delete %>
       
    <% end %>
<% end %>

<h4><%= @profile.name %>'s tweets:</h4>
<ul>
<%= render @tweets %>
</ul>

